@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

*:not(i) {
    font-family: 'Jost', sans-serif;
}

/* Nav Styles */
#logo {
    font-size: 30px;
}
header {
    width: 100%;
    background-color: #1d3557;
    padding: 3rem 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: 1.8rem;
    text-decoration: none;
}

nav a#logo {
    color: #fff;
    font-weight: 700;
}

nav ul a {
    color: #ffffff;
    font-weight: 600;
}

nav ul a:hover {
    border-bottom: 2px solid #ffffff;
}

/* Home Page */

section#home {
    height: 100vh;
    /* border: solid 2px red; */
}
#spot {
    border: 5px solid #24252A;
    width: 80%;
    margin: 0 auto;
}
.spot-con {
    /* border: 3px solid blue; */
    height: max-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.spot-cor {
    /* border: solid 5px green; */
    height: max-content;
    width: 100%;
}

.spot-h1 {
    /* margin-top: 100px; */
    padding-left: 20px;
    /* border: 2px solid purple; */
    font-size: 50px;
    /* text-align: center; */
    font-weight: bold;
    text-decoration: underline;
    background-color: #24252A;
    color: #fff;
}

.spot-text {
    /* border: solid 2px pink; */
    text-align: center;
    width: 70%;
    font-size: 17px;
    padding-top: 5%;
}

.spot-text > h1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.spot-text > p {
    color: #24252A;
}

#ham-menu {
    display: none;
}

nav ul.active {
    left: 0;
}

/* Videos */

.vid-con {
    border: 5px solid #24252A;
    height: 320px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    background-color: #24252A;
}

.vid {
    height: 100%;
    width: 33.33%;
}

.vid > img {
    /* border: 2px solid orange; */
    height: 70%;
    width: 101%;
}

.vid > h3, p {
    /* border: 2px solid black; */
    text-align: center;
    color: #fff;
    font-family: 'Jost', sans-serif;
    margin-top: 2%;
}

/* Media Queries */

@media only screen and (max-width: 991px) {
    html {
        font-size: 56.25%;
    }

    header {
        padding: 2.2rem 5rem;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 50%;
    }

    #ham-menu {
        display: block;
        color: #ffffff;
    }

    nav a#logo,
    #ham-menu {
        font-size: 3.2rem;
    }

    nav ul {
        background-color: #24252A;
        position: fixed;
        left: -100vw;
        top: 73.6px;
        width: 100vw;
        height: calc(100vh - 73.6px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 1s;
        gap: 0;
    }
}

@media only screen and (max-width: 575px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2rem 3rem;
    }

    nav ul {
        top: 65.18px;
        height: calc(100vh - 65.18px);
    }
}

@media only screen and (max-width: 1200px) {
    .spot-text {
        padding-top: 0;
    }
}

@media only screen and (max-width: 890px) {
    .spot-con {
        display: block;
    }
    #spot {
        width: 100%;
    }
    .spot-text {
        width: 100%;
    }
    .spot-h1 {
        text-align: center;
    }
    .vid-con {
        width: 100%;
        display: block;
        height: max-content;
        background-color: #24252A;
    }
    .vid {
        width: 90%;
        height: 100%;
        margin: 5% auto;
        /* border: 2px solid black; */
    }
    .vid > img {
        height: 100%;
        margin-bottom: 0;
        /* border: 2px solid orange; */
    }
    .vid > h3, p {
        height: 0;
        width: 0;
        font-size: 0;
    }
}


@media only screen and (max-width: 444px) {
    .spot-h1 {
        padding-top: 4%;
    }
}